#testimonials .wrapper .box {
  border-radius: 24px;
  box-shadow: 0 2px 25px 12px #dc3546a7;
}

#testimonials .wrapper p {
  max-width: 50%;
  line-height: 1.3;
}

.box {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.5s;
}

.box:hover,
.box:focus,
.box:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

@media only screen and (max-width: 768px) {
  #testimonials .wrapper p {
    font-size: 1.1rem !important;
    max-width: 90%;
  }
  #testimonials,
  #testimonials div {
    height: auto !important;
  }
  #testimonials div {
    flex-wrap: wrap !important;
  }
  #testimonials > div > div {
    padding: 15px 12px;
  }
}
