* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.8rem;
}

body {
    background-color: rgb(199, 197, 195);
    margin: 0px 18px;
}

.container {
    display:block;
    max-width: 1200px;
    margin:auto;
}

h1 {
    font-size:36px;
    font-weight:bold;
    text-shadow: 2px 2px #752929;
    animation: glow 3s infinite alternate;  
}

@keyframes glow {
    from {color:red;}
    to   {color:blue;}
}
h2 {
    font-size:28px;
    font-weight:bold;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-shadow: 1px 3px #752929;
}

img {
    border-style: ridge;
    border-width: 14.8px;
    border-color: #752929;
    text-align: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

list#homemenu {
    border-style: ridge;
    margin-top: 22px;
    border-color: #752929;
    box-shadow: 2px 9px #752929;
    padding-right: 14px;
    min-width: 468px;
}

#homemenu ul {
    list-style-type:square;
}

#homemenu ul li {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#homemenu ul li a {
    color:#752929
}

.container-method {
    padding: 0 100px 0 100px;
}