#headerHome {
  position: relative;
  height: 600px;
  padding-top: 1em;
  z-index: 2;
}

.customerRatings {
  justify-content: center;
  font-size: 0.9rem;
}

.customerRatings img {
  width: 80px;
  height: auto;
}

.homeTitle {
  text-align: center;
  padding-top: 30px;
}

.homeTitle img {
  width: 100px;
  height: 100px;
}

.homeTitle h1 {
  font-size: 2.6rem;
}

.homeIntro {
  padding-top: 30px;
}

.homeIntro p {
  text-align: center;
  font-size: 1.1rem;
}

#introButtonsWrapper {
  padding-top: 30px;
}

.introButtons .getYourPizza,
.introButtons .discover {
  justify-content: center;
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  text-wrap: nowrap;
  overflow: hidden;
}

.introButtons .discover img {
  width: 26px;
  height: 26px;
  transform: translateX(0);
}

.introButtons .discover:hover img {
  animation: moveOut 0.5s ease-out;
}

@keyframes moveOut {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100px);
  }
}

#headerHome::after {
  content: "";
  background: url("../../../public/assets/pizza-hero-section1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  height: 700px;
  position: absolute;
  right: -270px;
  top: -50px;
  z-index: -1;
  animation: float 4s infinite alternate;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@media only screen and (max-width: 768px) {
  #headerHome::after {
    display: none;
    height: 500px;
  }

  header:has(#headerHome) {
    height: 500px;
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: 769px) {
  .customerRatings {
    justify-content: flex-start;
  }

  .homeTitle {
    text-align: left;
    max-width: 600px;
  }

  .homeTitle h1 {
    font-size: 3.8rem;
  }

  .homeIntro p {
    text-align: left;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  #headerHome::after {
    width: 1000px;
    height: 700px;
    background-size: contain;
    top: 60px;
  }
}

@media only screen and (min-width: 993px) {
  .customerRatings {
    font-size: 1rem;
  }

  .homeIntro p {
    max-width: 550px;
  }

  .introButtons .getYourPizza,
  .introButtons .discover {
    width: 100%;
    font-size: 1.2rem;
    text-wrap: nowrap;
  }

  .introButtons .discover {
    background: none;
    border: none;
  }
}
