#floatingCartButton {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border-radius: 50%;
  padding: 8px;
  background-color: #444;
  border: none;
  color: #fff;
  font-size: 20px;
  border: 0.4px solid var(--color-surface-200);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
  transform: scale(1);
  transition: background-color 0.1s ease-in, transform 0.12s ease-in-out;
  animation: glow 1s infinite alternate;
}

#floatingCartButton:hover {
  background-color: var(--color-surface-100);
  transform: scale(1.1);
}

#floatingCartButton:active {
  background-color: var(--color-surface-100);
  transform: scale(0.95);
}

#floatingCartButton.shake {
  animation: shake 1.5s infinite, glow 1s infinite alternate;
}

@keyframes shake {
  0%,
  10% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  50%,
  100% {
    transform: translateX(0);
  }
}
